body {
	margin: 0px;
}
/* Div - (main-login) = para chamar uma class sempre usar o (.)*/
.main-login {
	width: 100vw; /*(vw é a % da viwport)*/
	height: 100vh;
	background-color: #201b2c;
	display: flex; /*faz com que fique lado a lado*/
	justify-content: center;
	align-items: center;
}